<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Epic Gamer Siccc Style!!!</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">IN SEARCH FOR A PERFECT GAME? NARROW DOWN YOUR SEARCHES HERE!!!!!!!!!!!</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">GAMER TAG XD</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="YO MAMMA SICCCCC PRANK">
        </div>
        <div class="form-group">
          <label for="ConsoleSelect">CONSOLE?!?!?!?!?!?</label>
          <select class="form-control" name="Console" id="Console">
            <option>Nintendo Switch</option>
            <option>X-Box One</option>
            <option>PC</option>
            <option><strong>Mobile phone swine of the earth piece of scum that I stepped on and grunted at the absolute filth of your hanous crimes against nature you absolute freak waste of space</strong></option>
            <option>Playstation 4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="GenreSelect">FAVORITE GENRE RUSH B</label>
          <select class="form-control" name="Genre" id="Genre">
            <option>Role-playing game</option>
            <option>Puzzle</option>
            <option>Action</option>
            <option>Adventure</option>
            <option>Shooter</option>
            <option>Virtual Reality</option>
            <option>Platformer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="RatingSelect">RATING IMPORTANCE</label>
          <select class="form-control" name="Rating" id="Rating">
            <option>PEOPLES OPINIONS SUCK XD</option>
            <option>Not really</option>
            <option>Half and Half</option>
            <option>A lot, actually</option>
            <option>If people breathed, I would jump off of a cliff</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

